Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
my_string = "I am starting with my first Assignment"
my_list = [1,"a",2.3]
my_float = 1.89
my_tuple = ("Cat","Dog","Elephant")

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [8]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print("Type of var1 is ", type(var1))
print("Type of var1 is ", type(var2))
print("Type of var1 is ", type(var3))
print("Type of var1 is ", type(var4))

Type of var1 is  <class 'str'>
Type of var1 is  <class 'str'>
Type of var1 is  <class 'list'>
Type of var1 is  <class 'int'>

------------------------------------------------------------------------------------------

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

(i) / : Division. This is used to devide 2 numbers. Example : 4 / 2 = 2

(ii) % : Modulus. This is used to find the remainder. Example : 5 % 2 = 1

(iii) // : 	Floor division. This rounds the result down to the nearest whole number : 7 // 2 = 3

(iv) ** : Exponentiation. Example 2**3 = 2*2*2 = 8

In [16]:
4 / 2

2.0

In [12]:
5 % 2

1

In [14]:
7 // 2

3

In [15]:
2 ** 3

8

-------------------------------------------------------------------------------------------

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [23]:
#Define the list
my_list1 = [1,5.2,"Dev",[1,2,3],("Dog","Cat","Lion"),3+5j,True,{"color" : "Red"},12,6.7778]
print("Length of the list : ",len(my_list1))

#Print the elements of the list
for i in my_list1 :
    print(i)

Length of the list :  10
1
5.2
Dev
[1, 2, 3]
('Dog', 'Cat', 'Lion')
(3+5j)
True
{'color': 'Red'}
12
6.7778

---------------------------------------------------------------------------------------------

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [37]:
a = 100
a1 = a
b = 2
counter = 0
while a1 % b == 0 :
    counter += 1
    a1 /= b

if counter > 0 :
    print (f"{a} is divisible by {b} and can be divided {counter} times")
else:
    print(f"{a} is not divisible by {b}")

100 is divisible by 2 and can be divided 2 times

--------------------------------------------------------------------------------------------

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [45]:
import random
my_list1 = []
for i in range(25):
    my_list1.append((random.randint(0,100)))

for num in my_list1 :
    if num % 3 == 0 :
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

88 is not divisible by 3
8 is not divisible by 3
69 is divisible by 3
57 is divisible by 3
79 is not divisible by 3
78 is divisible by 3
100 is not divisible by 3
21 is divisible by 3
59 is not divisible by 3
48 is divisible by 3
28 is not divisible by 3
40 is not divisible by 3
42 is divisible by 3
87 is divisible by 3
20 is not divisible by 3
78 is divisible by 3
53 is not divisible by 3
33 is divisible by 3
13 is not divisible by 3
28 is not divisible by 3
60 is divisible by 3
100 is not divisible by 3
52 is not divisible by 3
58 is not divisible by 3
66 is divisible by 3

------------------------------------------------------------------------------------------------------

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable : Values or Elements of an objects can not be changed. 

Example values inside a string can not be changed. 

Let's declare a string variable name = "Devjyoti". 

Here I can not change value at 2nd index "v" to "b". Instead I have to assign value "Debjyoti" as a whole to variable name to get this changed"

******************************************************************************************************

Mutable : Values or Elements of an objects can be changed

Example values inside a list can be changed. 

Let's declare a list variable my_list = ["Dev",25, 30]

Here I can change the value "Dev" at zeroth index to 20