In [3]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)
print(type(series))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

___________________________________________

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [24]:
import random
my_series = pd.Series([random.randint(0,100) for i in range(10)])
print(my_series)
print(type(my_series))

0    36
1    74
2    59
3    73
4    57
5    91
6     2
7    71
8    20
9    99
dtype: int64
<class 'pandas.core.series.Series'>

________________________________

Q3. Create a Pandas DataFrame that contains the following data:
__________________________
| Name  |  Age  | Gender |
__________________________
| Alice |  25   | Female |
__________________________
| Bob   |  30   | Male   |
__________________________
| Claire|  27   | Female |
__________________________

In [35]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)
print(type(df))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>

___________________________

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans :
In pandas, a DataFrame is a table-like structure that stores data in rows and columns, similar to a spreadsheet or database table. It is used for analyzing and manipulating data.

On the other hand, a Series is a one-dimensional array that represents a single column of data from a DataFrame. It contains values with associated labels, forming a sequence.

In simpler terms, think of a DataFrame as a table with rows and columns, while a Series is like a single column of that table.

In [34]:
import pandas as pd

# Create a dictionary for DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a DataFrame
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Create a Series
series = df['Age']
print("Series:")
print(series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

_____________________

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans : 

head() and tail(): Quickly view the first or last few rows of the DataFrame.

info(): Get an overview of the DataFrame, including column names, data types, and non-null values.

describe(): Compute summary statistics (count, mean, etc.) for numerical columns in the DataFrame.

sort_values(): Sort the DataFrame based on one or more columns.

groupby(): Group data based on one or more columns and perform calculations on the groups.

fillna(): Fill missing values in the DataFrame with specified values or strategies.

drop(): Remove rows or columns from the DataFrame based on specified labels.

Few examples given below

In [8]:
data = {
    'Name': ['Alice', 'Bob', 'Claire','David','Emily','Frank','Grace','Henry','Isabella','Jack'],
    'Age': [25, 30, 27, 10, 15, 76, 54, 34, 23, 45],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male']
}

df = pd.DataFrame(data)

# head() 
print ("Top 5 Records ")
print(df.head())
# tail()
print("")
print("")
print("")
print("")
print ("Bottom 5 Records ")
print(df.tail())
#info()
print("")
print("")
print("")
print("")
print ("Summary Of the Data Frame ")
print(df.info())
#describe()
print("")
print("")
print("")
print("")
print ("Stats Of the Data Frame ")
print(df.describe())

Top 5 Records
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3   David   10    Male
4   Emily   15  Female




Bottom 5 Records
       Name  Age  Gender
5     Frank   76    Male
6     Grace   54  Female
7     Henry   34    Male
8  Isabella   23  Female
9      Jack   45    Male




Summary Of the Data Frame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Gender  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes
None




Stats Of the Data Frame
            Age
count  10.00000
mean   33.90000
std    19.68897
min    10.00000
25%    23.50000
50%    28.50000
75%    42.25000
max    76.00000

_________________________

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans :

Series: A pandas Series is a one-dimensional labeled array that can hold different types of data. It is similar to a column in a spreadsheet or a single variable. Series objects are mutable, which means you can modify their values, add or remove elements, and update the content.
For example, you can change the value of a specific element in a Series, add new elements, or delete existing elements. This flexibility allows you to manipulate and update the data within the Series.

DataFrame: A pandas DataFrame is a two-dimensional labeled data structure, resembling a table or a spreadsheet. It consists of rows and columns, where each column can be considered as a Series. DataFrames are mutable, allowing you to modify the values, add or remove rows and columns, and update the data within the DataFrame.
You can modify specific values within the DataFrame, add new rows or columns, delete existing rows or columns, or update multiple values simultaneously based on certain conditions.

Panel: Panels were a three-dimensional data structure in pandas, but they have been deprecated and are no longer actively recommended. Panels allowed you to work with data in three dimensions, similar to a spreadsheet with multiple sheets. However, due to limitations and complexities, Panels have been replaced by other data structures, such as MultiIndex DataFrames.
While Panels were mutable and allowed modifications to the underlying data, it is generally recommended to use Series and DataFrames for most data analysis tasks.

__________________________________

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
import pandas as pd

# Create Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Combine Series into DataFrame
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Gender': gender_series})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Explaination :
In this example, we create three separate Series objects: name_series, age_series, and gender_series. Each Series corresponds to a specific column of data. We then use the pd.DataFrame() function and pass in a dictionary where the keys are column names and the values are the corresponding Series objects. The resulting DataFrame df combines the Series objects into a single DataFrame.

_________________